body{
    font-family: "apple Chancery",'Merienda', cursive;
    background-color: rgb(248, 240, 232);
}




nav ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-right: 55px;
}

.li-size{
    font-size: 1.5em;
}
.logo h3{
    font-size: 2.5em;
    margin-top: -5px;
}


.logo:hover{
    text-decoration: none;
    color: #232355; 
}

/* LI LISTAS */
.lis{
    list-style: none;
    /* font-family: "apple Chancery",'Merienda', cursive; */
}
.links{
    color: rgb(20, 20, 41);
    list-style: none;   
}

.links:hover{
    text-decoration: none;
    color: black;
}



/* INDEX */
.flex-container-index{
   display: flex;
   justify-content: center;
   align-items: center;
}
.flex-editor{
    display: flex;
}

.container-left-text{
    flex-direction: column;
    align-items: center


}
.txt-index {
    flex-direction: row;
    width: 500px;
    font-size: 1.6em;
    line-height: 50px;  
    margin-bottom: 100px;
}

.button-demo {
    margin-left: 50px;
    background-color:rgb(7, 113, 161);
    color:white;
    border-radius: 40px;
    text-align: center;
    padding: 15px 30px;
    transition: 500ms;

}

.button-demo:hover{
    text-decoration: none;
    color: white;
}

.img-index {
    width: 900px;
    margin-top: 50px;
}



/* TALES EDITOR */

.toolbar{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 22px;
}

.modal {
    width: 1000px
}



 .horror-button{
     height: 4vh;
 }



.paco{
    width: 100vw;
    margin: 0 auto;
  
}

 
 
 .stage {
     background-color: white;
 }







 @media (max-width:320px) {


    /*NavBar*/
    nav{
    /* background-color: rgba(226, 110, 43, 0.479); */
    padding: 10px 10px;
}


nav ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}


 }


.test{
    background-color: white;
}

.profile{
    margin: 20px 100px;
    /* width: 500px; */
    display: flex;

}


.profile-photo img{
    width: 66%;
    height: 66%;
    border-radius: 50%;
    object-fit: fill; 
    display: flex;

}


.upload-img{
    width: fit-content;
}



.bookform-button{
    background-color: unset;
    border: none;
}

.mybook-card-img{
    width: 300px;
    height: 200px;
    object-fit: cover; 
}

.flex-book-card{
    /* width: 50vh; */
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.carditas{
    width: 400px;
    /* padding-right: 50px; */
}

.mybooks-card h4{
    margin-left: 99px;
    width: 800px;
}

.cardimg-button{
    background-color: rgb(248, 240, 232);
    border: none;
    transition: 800ms;
    width: 240px;
    height: 50px;
    border-radius: 40px;
}
.cardimg-button:hover{
    background-color:  rgb(231, 210, 189);
    transition: 800ms;
}

.top-profile{
    display: flex;
    justify-content: space-between;
    margin: 50px 190px;
}

.card-button{
    background-color: rgb(248, 240, 232);
    border: none;
    transition: 800ms;
    width: 130px;
    height: 50px;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
}
.card-button:hover{
    background-color:  rgb(231, 210, 189);
    transition: 800ms;
}

.card-container{
    width: 330px;
}

.card-container img{
    display: block;
    margin: 0 auto;
}
.card-container h5{
    text-align: center;
}