/* LI LISTAS */
.lis{
    list-style: none;
    font-family: "apple Chancery"
}
.links{
    color: rgb(20, 20, 41);
}


/* NAVBAR */
nav{
    /* background-color: rgba(226, 110, 43, 0.479); */
    padding: 10px 10px;
}
nav ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}




/* INDEX */
.flex-container-index{
   display: flex;
   justify-content: center;
   align-items: center;
}
.flex-editor{
    display: flex;
}
.txt-index {
    flex-direction: row;
    width: 300px;
    font-size: 1.4em;
    diplay: inline-block
}
.img-index {
    width: 600px
}



/* TALES EDITOR */

.toolbar{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 22px;
}

.modal {
    width: 1000px
}

.profile-photo img{
    width: 50%;
    height: 85%;
    border-radius: 50%;
    object-fit: fill; 
}

.user-info{
    display: flex;
}
 .horror-button{
     height: 4vh;
 }

 .stage {
     background-color: white;
 }
