/* LI LISTAS */
.lis{
    list-style: none;
}
.links{
    color: black;
}


/* NAVBAR */
nav{
    background-color: rgba(226, 110, 43, 0.479);
    padding: 10px 10px;
}
nav ul{
    display: flex;
    justify-content: space-around;
}




/* INDEX */
.explain-book{
   display: flex;
   justify-content: center;
   align-items: center;
}
.flex-editor{
    display: flex;
}



/* TALES EDITOR */

.toolbar{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 22px;
}

.modal {
    width: 1000px
}

.profile-photo img{
    width: 50%;
    height: 85%;
    border-radius: 50%;
    object-fit: fill; 
}

.user-info{
    display: flex;
}
 .horror-button{
     height: 4vh;
 }

