.profile{
    margin: 20px 100px;
    /* width: 500px; */
    display: flex;

}


.profile-photo img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    object-fit: fill; 
    display: flex;

}

.search-book-btn{
    height: fit-content;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
}

.upload-img{
    width: fit-content;
}